[Unit]
Description=where-is-the-kid express server and chatbot
# Author=Yonatan

[Service]
# Type=simple
RestartSec=10
Restart=always

User=ubuntu
ExecStart=/home/ubuntu/where-is-the-kid/scripts/run.sh
# Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=where-is-the-kid